<div class="container" ng-controller="createUserCtrl">
  <h1>User detail</h1>

  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputFirstName">First name:</label>

      <div class="controls">
        <input type="text" id="inputFirstName" ng-model="user.firstname"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputLastName">Last name:</label>

      <div class="controls">
        <input type="text" id="inputLastName" ng-model="user.lastname"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email:</label>
      <div class="controls">
        <input type="text" id="inputEmail" ng-model="user.email" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password:</label>
      <div class="controls">
        <input type="password" id="inputPassword" ng-model="user.passwordHash" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputJobTitle">Job Title:</label>
      <div class="controls">
        <input type="text" id="inputJobTitle" ng-model="user.jobtitle" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputSex">Sex:</label>
      <div class="controls">
        <input type="text" id="inputSex" ng-model="user.userprofile.sex" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputMaritalStatus">Marital Status:</label>
      <div class="controls">
        <input type="text" id="inputMaritalStatus" ng-model="user.userprofile.maritalstatus" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputRole">Role:</label>
      <div class="controls">
        <input type="text" id="inputRole" ng-model="user.roles.role" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">        
        <a ng-click="createNewUser()" class="btn btn-small btn-primary">Create New User</a>
      </div>
    </div>
  </form>
</div>